@import "latest-post-sliders.css";
@import "wrapped-image-text.css";

.alps-wrapped-text__drop-hint {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px dashed #757575;
  border-radius: 3px;
  font: 13px/1.4 sans-serif;
  text-align: center;
}

.edit-post-visual-editor__post-title-wrapper .editor-post-title {
  margin-left: auto;
  margin-right: auto;
}

.editor-styles-wrapper .wp-block {
  margin-left: auto;
  margin-right: auto;
}
